fieldset {
  border: 0;
}

.form {
  &__input {
    display: inline-block;
    width: calc(3.5 * 100% / 6);
    height: 40px;
    margin: 0.5*$gutter 0;
    font-size: 18px;
    border: 1px solid $black;
    border-radius: 2px;

    &--small {
      height: 40px;
      margin: 0.5*$gutter auto;
      font-size: 18px;
      border: 1px solid $black;
      border-radius: 2px;
    }
  }

  &__label {
    display: inline-block;
    width: calc(100% - 3.5 * 100% / 6);
    font-size: 18px;

    &--small {
      font-size: 18px;
      line-height: 60px;
    }
  }

  &__title {
    padding-bottom: $gutter;
    font-size: 36px;
    font-weight: bolder;
  }
}

.input--small {
  display: inline-flex;
  width: calc(3.5 * 100% / 12 - 10px);
  vertical-align: center;
}
