@import "scss/config";
@import "scss/buttons";
@import "scss/form";
@import "scss/header";
@import "scss/footer";


* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  margin: 0 auto;
}

@media (max-width: 1240px) and (min-width: 1200px) {
  main { /* stylelint-disable-line */
    padding: 0 calc(20px - (100vw - 1200px) / 2);
  }
}

@media (max-width: 1200px) {
  main { /* stylelint-disable-line */
    padding: 0 20px;
  }
}

.section {
  max-width: $max-width;
  margin: 0 auto;

  &__row {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 2*$gutter;
    margin-right: -0.5*$gutter;
    margin-left: -0.5*$gutter;
  }

  &__col {
    width: 50%;
    padding-right: 0.5*$gutter;
    padding-left: 0.5*$gutter;
  }

  &__title {
    font-size: 36px;
    font-weight: bolder;
  }

  &__text {
    margin: 2*$gutter auto;
    font-size: 24px;

    &--small {
      margin: $gutter auto;
      font-size: 16px;
    }
  }

  &__price {
    margin: $gutter auto;
    font-size: 24px;
  }

  &__content--fill {
    flex-grow: 1;
    display: flex;
  }

  &__content--bottom {
    width: 100%;
    align-self: flex-end;
  }

  &__label {
    display: block;
  }

  &__input {
    width: 100px;
    height: 40px;
    padding: 8px;
    font-size: 16px;
    border: 1px solid $black;
    border-radius: 2px;

    &__container {
      display: flex;
      width: 100%;
    }

    &--long {
      flex-grow: 1;
      margin-right: 0.5*$gutter;
    }
  }

  &--flex {
    display: flex;
    width: auto;
    flex-wrap: wrap;
  }
}

.image {
  max-width: 100%;
  margin-bottom: 20px;

  &--small {
    max-width: 20px;
    margin-right: 10px;
  }
}

.col--third,
.col--third3 {
  display: flex;
  width: calc(100% / 3);
  padding-bottom: 2*$gutter;
  flex-direction: column;
}

.col--two-thirds {
  display: flex;
  width: calc(2 * 100% / 3);
  height: auto;
  flex-direction: column;
}

@media (max-width: 800px) {
  .col--third3 {
    width: 50%;
  }
}

@media (max-width: 500px) {
  .col--third3 {
    width: 100%;
  }

  .section {
    &__col {
      width: 100%;
      margin-top: 2*$gutter;
    }

    &__row {
      padding-bottom: 0;
    }
  }

  .image--first-flex-item {
    order: 1;
  }
}

input,
select,
textarea,
button {
  &:focus { /* stylelint-disable-line */
    outline: none;
  }
}

.employee {
  position: relative;
  overflow: hidden;

  &::before {
    display: block;
    padding-top: 150%;
    content: "";
  }

  &__card {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    transition: transform $transition;
    transform-style: preserve-3d;
  }

  &__front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  &__back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    transform: rotateY(180deg);
  }

  &:hover &__card {
    transform: rotateY(180deg);
  }

  &__content {
    display: flex;
    height: 100%;

    font-size: 1.5rem;
    text-align: center;

    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__title {
    margin-bottom: $gutter;

    font-family: $font-heading;
    font-size: 2.25rem;
    font-weight: 600;
  }
}
.employees {
  max-width: $max-width;
  margin: 0 auto;

  @media (max-width: $max-width - 1) {
    padding-right: $gutter;
    padding-left: $gutter;
  }

  &__row {
    @include row;
    margin-bottom: $gutter * 2;
    flex-wrap: wrap;
  }

  &__col {
    @include columns(12);

    margin-bottom: $gutter * 2;

    @media (min-width: 500px) {
      @include columns(6);
    }
  }
}


